*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}
.btn{
  padding: 8px 30px;
  outline: none;
  border: 1px solid transparent;
  color:#001e28;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
  letter-spacing: 1.3px;
  cursor: pointer;
}
